services:
  app:
    env_file: .env
    container_name: funadf_app
    build:
      context: .
      dockerfile: ./docker/rails/Dockerfile
    entrypoint: ./docker-rails.sh
    depends_on:
      - db
    ports:
      - '3000:3000'
      - '3036:3036'
    volumes:
      - .:/app
    extends:
      file: ./docker/mysql/password.yml
      service: password
    profiles:
      - production
      - local
  db:
    container_name: funadf_db
    build:
      context: .
      dockerfile: ./docker/mysql/Dockerfile
    ports:
      - '3307:3306'
    volumes:
      - funadf_db:/var/lib/mysql
    extends:
      file: ./docker/mysql/password.yml
      service: password
    profiles:
      - production
      - local

  redis:
    image: redis:7-alpine
    container_name: funadf_redis
    ports:
      - "6379:6379"
    volumes:
      - funadf_redis_data:/data
    command: [ "redis-server", "--appendonly", "yes", "--appendfilename", "appendonly.aof", "--dir", "/data", "--protected-mode", "no" ]
    profiles:
      - local
      - production

  sidekiq:
    container_name: funadf_sidekiq
    build:
      context: .
      dockerfile: ./docker/rails/Dockerfile
    entrypoint: ./docker-sidekiq.sh
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    env_file: .env
    profiles:
      - local
      - production

volumes:
  funadf_db:
  funadf_redis_data:
