%p
  Bonjour,

%p
  Afin de participer aux votes électroniques organisés par la FNADF qui auront lieu du
  %b 22 au 26 Mars 2021

%p
  Nous vous invitons à vous connecter à votre espace de votes. Afin de vérifiez que vous avez bien les accès.


%p
  Pour accéder à l'application, cliquez sur ce boutton :

%p
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to root_url, style:"text-decoration:none;color:#000" do
      %strong Accéder à l'application.

%p
  Ou copiez le lien ci-dessous :

%p
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to root_url, style:"text-decoration:none;color:#000" do
      = root_url

%p
  En cas de soucis technique, veuillez nous écrire à l'adresse suivante :

%p
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to "mailto:votes@add-fnadf.fr", style:"text-decoration:none;color:#000" do
      votes@add-fnadf.fr

Que Dieu vous bénisse.