$('#waiting').fadeOut(1000, function(){
  $(this).removeClass('d-flex').addClass('d-none');

  <%- if @results.blank? %>
    $('#results').append('<div class="alert alert-warning">Aucun résultat ne correspond à votre recherche.</div>');
  <%- else %>
    <%- @results.each do |result| %>
      <%- if result.is_a?(Church) || result.is_a?(Association) %>
        $('#results').append('<%= j render 'me/search/structure', structure: result %>').hide().delay(200).fadeIn(500);
      <%- elsif result.is_a?(User) %>
        $('#results').append('<%= j render 'me/search/user', user: result %>').hide().delay(200).fadeIn(500);
      <%- end %>
    <%- end %>
  <%- end %>
});

