.breadcrumbs
  .page-header
    %h1 Calendrier


.content.mt-3
  .row
    .col-md-8
      .card
        .card-body
          #calendar
    .col-md-4


#event.modal.fade{tabindex: '-1', role: "dialog"}
  .modal-dialog.modal-lg{role: "document"}
    .modal-content

= render "script"