.breadcrumbs
  .page-header
    %h1
      Modification de la campagne
      %b= @campaign.name

.content.mt-3
  .container-fluid
    .card
      .card-body
        %p.text-muted= @campaign.description
        = render 'form', campaign: @campaign, structure: @structure