:concurrency: 5

:queues:
  - default
  - mailers

:scheduler:
  enabled: true
  dynamic: false
  :schedule:
    notification_digest_job:
      cron: "0 8,12,18,22 * * *"
      class: NotificationDigestJob
      queue: default
    notification_post_broadcast_job:
      cron: "0 */4 * * *"
      class: NotificationPostBroadcastJob
      queue: default
    notification_event_broadcast_job:
      cron: "0 */4 * * *"
      class: NotificationEventBroadcastJob
      queue: default
