.content.mt-3
  .container-fluid
    .card
      .card-header
        %strong Modifier une structure

      .card-body
        = render 'structures/form', structure: @intranet_structure, action: intranet_the_structure_path