.content.mt-3
  .container-fluid
    %h1 Hello World !

    %p Outil de partage dédié à la région.

    %h2.mb-3 Etat d'avancement du projet
    .progress
      .progress-bar.bg-success{role: 'progressbar', style: 'width:5%', aria: {valuenow: 5, valuemin: 0, valuemax: 100}}
        5%

    %hr

    %h2.mb-3 Module : Gestion de l'information

    .progress
      .progress-bar.bg-success{role: 'progressbar', style: 'width:0%', aria: {valuenow: 0, valuemin: 0, valuemax: 100}}
        0%

    %hr

    %h2.mb-3 Module : Gestion des données

    .progress
      .progress-bar.bg-success{role: 'progressbar', style: 'width:0%', aria: {valuenow: 0, valuemin: 0, valuemax: 100}}
        0%
