.breadcrumbs
  .page-header
    %h1 Mes votes

.content.mt-3
  .container-fluid
    .card
      .card-header
        %strong Liste des bulletins de votes

      .card-body
        .alert.alert-info
          Voici la liste des campagne de votes pour lesquelles vous ou vos églises sont membres.


        .table-responsive
          %table.table.table-striped.table-sm
            %thead
              %tr
                %th Structure concernée
                %th Bulletin
                %th

            - @campaigns.each do |campaign|
              %tr
                %td= campaign.structure_name
                %td= campaign.name
                %td
                  - if campaign.opened?
                    = link_to campaign_path(campaign.id), class: 'btn btn-sm btn-primary' do
                      Commencer le vote
                      = icon 'arrow-right'
                  - else
                    .badge.badge-warning
                      Les votes ne sont pas encore ouverts

