<head>
  <title>Example</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>

  <div id="app">
    <router-view></router-view>
  </div>

  <%= vite_javascript_tag 'application' %>
</head>