%p{style:"color:#D65745; margin:none;"}
  Bonjour
  %strong= @resource.name

%p
  Quelqu'un a demandé
  %strong une réinitialisation de votre mot de passe.
  Vous pouvez le faire via le lien ci-dessous.

%p
  Si vous n'avez pas demandé cela, merci d'ignorer cet email.

%p
  Votre mot de passe ne changera
  %strong qu'après la création d'un nouveau mot de passe via le lien ci-dessous.


%p
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to edit_password_url(@resource, reset_password_token: @token), style:"text-decoration:none;color:#000" do
      %strong Réinitialiser mon mot de passe

%p
  Ou en copiant le lien ci-dessous :

%p
  %span{:style => "display:block;padding:10px 15px;background:#dedede;"}
    = link_to edit_password_url(@resource, reset_password_token: @token), style:"text-decoration:none;color:#000" do
      = edit_password_url(@resource, reset_password_token: @token)

%p{style: "font-style:italic;font-size:14px;line-height:18px;"}
  FNADF
