$('#waiting').fadeOut(1000, function(){
  $(this).removeClass('d-flex').addClass('d-none');

  <%- if @results.blank? %>
    $('#posts').append('<div class="alert alert-warning">Aucun résultat ne correspond à votre recherche.</div>');
  <%- else %>
    <%- @results.each do |result| %>
      $('#posts').append('<%= j render 'posts/post', post: result %>').hide().delay(200).fadeIn(500);
    <%- end %>
  <%- end %>


  init_read_more();
});
